<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Task</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <res-ref-name>jdbc/Task</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref> 
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>user.control.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>user.control.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistList</display-name>
    <servlet-name>RegistList</servlet-name>
    <servlet-class>user.control.RegistList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistList</servlet-name>
    <url-pattern>/RegistList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistDetail</display-name>
    <servlet-name>RegistDetail</servlet-name>
    <servlet-class>user.control.RegistDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistDetail</servlet-name>
    <url-pattern>/RegistDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegIdGet</display-name>
    <servlet-name>RegIdGet</servlet-name>
    <servlet-class>user.control.RegIdGet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegIdGet</servlet-name>
    <url-pattern>/RegIdGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcReg</display-name>
    <servlet-name>ProcReg</servlet-name>
    <servlet-class>user.control.ProcReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcReg</servlet-name>
    <url-pattern>/ProcReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcMod</display-name>
    <servlet-name>ProcMod</servlet-name>
    <servlet-class>user.control.ProcMod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcMod</servlet-name>
    <url-pattern>/ProcMod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcDel</display-name>
    <servlet-name>ProcDel</servlet-name>
    <servlet-class>user.control.ProcDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcDel</servlet-name>
    <url-pattern>/ProcDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HidHandler</display-name>
    <servlet-name>HidHandler</servlet-name>
    <servlet-class>user.control.HidHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HidHandler</servlet-name>
    <url-pattern>/HidHandler</url-pattern>
  </servlet-mapping>
</web-app>